# Игнорируем папку с локальными зависимостями,
# чтобы она не конфликтовала с зависимостями внутри контейнера.
node_modules

# Игнорируем папку сборки, если она создается локально.
dist

# Игнорируем логи и другие временные файлы npm.
npm-debug.log*
yarn-debug.log*
yarn-error.log*